.conatiner-fluid{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 80vh;
    width: 100vw;
    align-items: center;
    h1, p{
        width: 100%;
    }
}

.info{
    h1, p{
        width: 100%;
    }
    img{
        width: 400px;
        border-radius: 50%;
    }
    display: flex;
    flex-wrap: wrap;
    width: 60%;
}