<div class="login-container container-fluid">
    <h2>Iniciar Sesión</h2>
    <form action="login.php" method="POST">
        <input type="text" name="email" placeholder="mail" required [(ngModel)]="userMail" #mail>
        <input type="password" name="password" placeholder="Contraseña" required [(ngModel)]="userPWD" #pass>
        <input type="submit" value="Iniciar Sesión" (click)="Login()">
        <div id="users">
            <button class="userbutton" (click)="CompletarInputs('admin@mail.com','123456')"><img src="https://firebasestorage.googleapis.com/v0/b/tp-labo4-fae81.appspot.com/o/avatar%20(1).png?alt=media&token=63316508-e172-42c9-aa9a-d230191e3200"></button>
            <button class="userbutton" (click)="CompletarInputs('empleado@gmail.com','123456')"><img src="https://firebasestorage.googleapis.com/v0/b/tp-labo4-fae81.appspot.com/o/avatar%20(2).png?alt=media&token=ecbba639-a009-4141-afdd-845c19c8ead9"></button>
        </div>
    </form>
</div>
